@font-face {
  font-family: 'georgia-regular';
  src: url(../../assets/fonts/fonts/georgia/georgia-regular.ttf);
}

@font-face {
  font-family: 'georgia-bold';
  src: url(../../assets/fonts/fonts/georgia/georgia-bold.ttf);
}

@font-face {
  font-family: 'arial-regular';
  src: url(../../assets/fonts/fonts/arial/arial-regular.ttf);
}

@font-face {
  font-family: 'arial-bold';
  src: url(../../assets/fonts/fonts/arial/arial-bold.ttf);
}

@font-face {
  font-family: 'arial-italic';
  src: url(../../assets/fonts/fonts/arial/arial-italic.ttf);
}
:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
}
html {
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  color: var(--color-dark-l);
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
}
.header{
  width: 100%;
  height: 120px;
  background-color: var(--color-light-s);
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}
.header__content {
  width: 100%;
  height: 60px;
  margin: 30px 0 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__logo {
  width: 20%;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__title {
  font-family: 'georgia-regular';
  font-weight: 100;
  font-size: 32px;
  color: var(--color-dark-l);
  line-height: 35px;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 2px;
}
.header__text {
  margin-left: 4px;
  font-family: 'arial-regular';
  font-size: 13px;
  letter-spacing: 0.1em;
  color: var(--color-dark-l);
}
.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40.5%;
  margin-left: auto;
}
.header__link {
  font-family: 'arial-regular';
  font-size: 15px;
  line-height: 19px;
  color: var(--color-dark-l);
  position: relative;
  cursor: pointer;
}
.header__link:hover {
  color: var(--color-dark-3xl)
}
.header__link::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 4px;
  background-color: var(--color-primary);
  content: "";
  transition: width 0.5s;
}
.header__link:hover::after {
  width: 100%;
  color: var(--color-primary);
}
.header__link_active::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 4px;
  background-color: var(--color-primary);
  content: "";
}
.header__link_active {
  color: var(--color-dark-3xl);
}
/* main */
/* footer */
/* footer */
.footer__wrapper {
  width: 100%;
  padding-top: 40px;
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-position: center 0;
  background-repeat: repeat, no-repeat;
}
.footer__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__contacts-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 61.5%;
  padding-top: 15px;
}
.footer__contacts {
  width: 279px;
  height: 235px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__location {
  width: 300px;
  height: 235px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__title {
  font-family: 'georgia-regular';
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-light-xl);
}
.footer__info {
  display: flex;
}
.footer__address {
  font-family: 'georgia-regular';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  padding-top: 14px;
}
.footer__icon {
  padding-right: 20px;
  float: left;
}