@font-face {
  font-family: 'georgia-regular';
  src: url(../../assets/fonts/fonts/georgia/georgia-regular.ttf);
}

@font-face {
  font-family: 'georgia-bold';
  src: url(../../assets/fonts/fonts/georgia/georgia-bold.ttf);
}

@font-face {
  font-family: 'arial-regular';
  src: url(../../assets/fonts/fonts/arial/arial-regular.ttf);
}

@font-face {
  font-family: 'arial-bold';
  src: url(../../assets/fonts/fonts/arial/arial-bold.ttf);
}

@font-face {
  font-family: 'arial-italic';
  src: url(../../assets/fonts/fonts/arial/arial-italic.ttf);
}
:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
}
html {
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  color: var(--color-dark-l);
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
h2, h3, h4, h5, h6 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1rem;        
  font-weight: 400;
  line-height: normal;
  font-family: inherit;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1280px) {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 320px;
    padding: 0 10px;
  }
}
/* header */
.header {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translate(-50%, 0);
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 20%;
  margin-top: 1px;
}
.header__title {
  font-family: 'georgia-regular';
  font-weight: 100;
  font-size: 32px;
  color: var(--color-primary);
  line-height: 10px;
  letter-spacing: 2px;
  text-shadow: black 1px 1px 0,
    black -1px 1px 0,
    black -1px -1px 0,
    black 1px -1px 0;
}
.header__text {
  margin-left: 3px;
  font-family: 'arial-regular';
  font-size: 13px;
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
}
.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40.3%;
}
.header__link {
  font-family: 'arial-regular';
  font-size: 15px;
  line-height: 25px;
  color: var(--color-dark-s);
  position: relative;
  cursor: pointer;
}
.header__link:hover {
  color: var(--color-light-s);
}
.header__link::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0;
  height: 3px;
  background-color: var(--color-primary);
  content: "";
  transition: width 0.5s;
}
.header__link:hover::after {
  width: 100%;
  color: var(--color-primary);
}
.header__link_active::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
  content: "";
}
.header__link_active {
  color: var(--color-light-s);
  pointer-events: none;
}
@media (max-width: 1280px) {
  .header {
    top: 26px;
  }
  .header__logo {
    width: 38%;
  }
  .header__menu {
    width: 81%;
    padding-top: 3px;
  }
}
@media (max-width: 768px) {
  .header {
    justify-content: space-around;
  }
  .header__menu {
    display: none;
  }
  .header__logo {
    width: 76%;
  }
}
.header__burger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 7px;
  z-index: 1;
}
.header__burger-line {
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
}
@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}
/* main */
/* start */
.start {
  width: 100%;
   background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-position: center 0;
  background-repeat: repeat, no-repeat;
  display: flex;
  flex-direction: row;
}
.start__wrapper {
  height: 908px;
}
.start__content {
  width: 100%;
  height: 728px;
  display: flex;
  flex-direction: row;
  margin-top: 180px;
  color: var(--color-light-xl);
}
.start__info{
  width: 460px;
  height: 322px;
  margin: 164px 42px 0 0;
}
.start__title {
  width: 310px;
  font-family: 'georgia-regular';
  font-size: 44px;
  line-height: 130%;
}
.start__text {
  width: 103%;
  font-family: 'arial-regular';
  font-size: 15px;
  line-height: 160%;
  margin: 42px 0 42px 0;
}
.start__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 52px;
  border: none;
  background-color: var(--color-primary);
  border-radius: 25px;
  font-family: 'georgia-regular';
  font-size: 17px;
  letter-spacing: 1.1px;
  color: var(--color-dark-3xl);
  transition: background-color .3s ease-in-out;
}
.start__button:hover {
  cursor: pointer;
  background-color: var(--color-primary-light);
}
.start__screen {
  width: 699px;
  margin-bottom: 0;
}
.start__image {
  width: 100%;
}
@media (max-width: 1280px) {
  .start__wrapper {
    height: 1165px;
    padding: 150px 100px 0 100px;
  }
  .start__content {
    height: 1015px;
    flex-direction: column;
    margin: 0 auto;
  }
  .start__button {
    margin: 0 auto;
  }
  .start__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
  }
  .start__screen{
    width: 569px;
    margin: 17.6% 0 0 12.2%;
  }
}
@media (max-width: 768px) {
  .start__wrapper {
    height: 823px;
    padding: 150px 10px 0 10px;
  }
  .start__content {
    height: 673px;
  }
  .start__info {
    width: 100%;
    height: 44%;
    text-align: center;
  }
  .start__title {
    width: 250px;
    font-size: 25px;
    letter-spacing: 0.06em;
    margin: 0 auto;
  }
  .start__text {
    letter-spacing: 0.3px;
  }
  .start__screen {
    width: 87%;
    margin: 35% 0 0 13%;
  }
}
/* about */
.about__wrapper {
  padding-top: 80px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about__image {
  width: 25%;
  height: 100%;
  margin-right: 120px;
}
.about__content {
  width: 36%;
  height: 381px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__title {
  width: 80%;
  font-family: 'georgia-regular';
  line-height: 46px;
  font-size: 35px;
  letter-spacing: 0.06em;
}
.about__text {
  font-family: 'arial-regular';
  font-size: 15px;
  line-height: 161%;
  margin-top: 5px;
  color: var(--color-dark-xl);
}
@media (max-width: 1280px) {
  .about {
    padding: 80px 0 100px 0;
  }
  .about__wrapper {
    height: 868px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    width: 431px;
    margin: 0 auto;
  }
  .about__content {
    width: 100%;
    height: 43.8%;
  }
  .about__image {
    order: 1;
    height: 47%;
    width: 100%;
    margin-right: 0;
    text-align: center;
    padding: 0 67px;
  }
}
@media (max-width: 768px) {
  .about {
    padding: 42px 10px 42px 10px;
  }
  .about__wrapper {
    width: 100%;
    height: 890px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .about__content {
    width: 100%;
    height: 56%;
    text-align: justify;
    padding: 0;
  }
  .about__title {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    line-height: 130%;
  }
  .about__image {
    width: 97%;
    height: 40%;
    padding: 0;
  }
  .about__image>img {
    height: 100%;
  }
}
/* pets */
.pets {
  width: 100%;
  background-color: var(--color-light-l);
}
.pets__wrapper {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 60px;
  padding: 79px 40px 100px 40px;
}
.pets__title {
  width: 400px;
  font-family: 'georgia-regular';
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
}
.pets__slider {
  width: 100%;
  height: 435px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 53px;
}
.pets__slider-wrapper {
  width: 990px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.pets__button-arrow {
   width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  background-color: var(--color-light-s);
  color: var(--color-dark-3xl);
  font-family: 'georgia-regular';
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  transition: background-color .3s ease-in-out;
}
.pets__button-arrow_left {
  background-image: url(../../assets/icons/Arrow-l.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.pets__button-arrow_right {
  background-image: url(../../assets/icons/Arrow-r.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.pets__button-arrow:hover {
  cursor: pointer;
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary-light);
}
.pets__card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-s);
  border-radius: 9px;
  padding-bottom: 31px;
  transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.pets__card:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: var(--color-light-xl);
}
.pets__card:hover .pets__button-card {
  cursor: pointer;
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary-light);
}
.pets__name {
  font-family: 'georgia-regular';
  font-size: 20px;
  letter-spacing: 0.06em;
}
.pets__button-card {
  width: 187px;
  height: 52px;
  border: 1px solid var(--color-primary);
  border-radius: 26px;
  font-family: 'georgia-regular';
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--color-light-s);
  color: var(--color-dark-3xl);
  transition: background-color .3s ease-in-out;
}
.pets__button-primary {
  width: 261px;
  height: 52px;
  border: none;
  border-radius: 26px;
  background: var(--color-primary);
  color: var(--color-dark-3xl);
  font-family: 'georgia-regular';
  font-size: 17px;
  line-height: 52px;
  letter-spacing: 0.06em;
  text-align: center;
  transition: background-color .3s ease-in-out;
}
.pets__button-primary:hover {
  cursor: pointer;
  background-color: var(--color-primary-light);
}

@media (max-width: 1280px) {
  .pets__wrapper {
   padding: 79px 30px 100px 30px;
  }
  .pets__slider-wrapper {
   justify-content: center;
    overflow: hidden;
  }
  .pets__slider {
    column-gap: 12px;
  }
  .pets__card:nth-child(3) {
    display: none;
  }
}
@media (max-width: 768px) {
  .pets__wrapper {
    padding: 42px 10px 42px 10px;
    row-gap: 42px;
  }
  .pets__title {
    width: 100%;
    font-size: 25px;
  }
  .pets__slider {
    height: 507px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    row-gap: 20px;
    column-gap: 79px;
  }
  .pets__slider-wrapper {
    height: 85.8%;
}
  .pets__button-arrow_left {
    order: 2;
  }
  .pets__button-arrow_right {
    order: 3;
  }
  .pets__card:nth-child(2) {
    display: none;
  }
}
/* help */
.help__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 98px;
}
.help__title {
  width: 310px;
  font-family: 'georgia-regular';
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 60px;
}
.help__content {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 56px;
  column-gap: 95px;
}
.help__item {
  height: 113px;
  text-align: center;
}
.help__item:nth-child(6) {
  margin-left: 84px;
}
.help__item:nth-child(9) {
  margin-right: 84px;
}
.help__subtitle {
  font-family: 'georgia-regular';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-top: 26px;
}
@media (max-width: 1280px) {
  .help__wrapper {
    padding-left: 69px;
    padding-right: 69px;
  }
  .help__content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 55px;
  }
  .help__item:nth-child(6) {
    margin-left: 0;
  }
  .help__item:nth-child(9) {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .help__wrapper {
    padding: 42px 15px 42px 15px;
  }
  .help__title {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    margin-bottom: 40px;
  }
  .help__content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 30px;
    column-gap: 28px;
  }
  .help__item {
    height: 87px;
  }
  .help__image {
    width: 50px;
  }
  .help__subtitle {
    font-size: 15px;
    margin-top: 17px;
  }
}
/* donation */
.donation{
  width: 100%;
  background-color: var(--color-light-l);
}
.donation__wrapper {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 79px 0 100px 0;
  column-gap: 30px;
}
.donation__image {
  width: 505px;
  height: 261px;
}
.donation__content {
  width: 380px;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.donation__title {
  width: 80%;
  font-family: 'georgia-regular';
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.donation__subtitle {
  font-family: 'georgia-regular';
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.donation__card {
  width: 349px;
  height: 43px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 14px;
  border: none;
  border-radius: 9px;
  background-color: var(--color-primary);
  padding: 10px 15px;
  transition: background-color 0.5s;
}
.donation__card:hover {
  cursor: pointer;
  background-color: var(--color-primary-light);
}
.donation__card-number {
  font-family: 'georgia-regular';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l)
}
.donation__text {
  width: 100%;
  font-family: 'arial-italic';
  font-size: 12px;
  line-height: 18px;
  color: var(--color-dark-m);
}
@media (max-width: 1280px) {
  .donation__wrapper {
    flex-direction: column;
    padding: 79px 131px 99px 132px;
    row-gap: 61px;
  }
  .donation__image {
    order: 1;
  }
}
@media (max-width: 768px) {
  .donation__wrapper {
    padding: 42px 10px 42px 10px;
    row-gap: 42px;
  }
  .donation__content {
    width: 100%;
    height: 281px;
    align-items: center;
  }
  .donation__image {
    width: 260px;
    height: 135.2px;
  }
  .donation__title {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  .donation__subtitle {
    letter-spacing: 0;
  }
  .donation__card {
    width: 281px;
  }
  .donation__card-number {
    font-size: 15px;
  }
  .donation__text {
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
  }
}
/* footer */
.footer{
  width: 100%;
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-position: center 0;
  background-repeat: repeat, no-repeat;
}
.footer__wrapper {
  padding-top: 40px;
}
.footer__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__contacts-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 61.5%;
  padding-top: 15px;
}
.footer__contacts {
  width: 279px;
  height: 235px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__location {
  width: 300px;
  height: 235px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__title {
  font-family: 'georgia-regular';
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-light-xl);
}
.footer__info {
  display: flex;
}
.footer__address {
  font-family: 'georgia-regular';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  padding-top: 14px;
}
.footer__icon {
  padding-right: 20px;
  float: left;
}
@media (max-width: 1280px) {
  .footer__wrapper {
    padding-top: 0px;
  }
  .footer__content {
    flex-direction: column;
    row-gap: 62px;
    padding: 16px 37px 0 34px;
  }
  .footer__contacts-wrapper {
    width: 100%;
  }
  .footer__image {
    width: 300px;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .footer__wrapper {
    padding: 15px 10px 0 10px;
  }
  .footer__content {
    width: 100%;
    padding: 0;
    row-gap: 40px;
  }
  .footer__contacts-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    row-gap: 40px;
  }
  .footer__contacts {
    width: 100%;
    height: 208px;
  }
  .footer__location {
    width: 100%;
    height: 222px;
  }
  .footer__title {
    align-items: center;
    font-size: 25px;
  }
  .footer__info_location {
    text-align: left;
  }
  .footer__title_location {
    padding-left: 12px;
    padding-right: 12px;
  }
  .footer__info_contacts {
    width: 100%;
    justify-content: center;
  }
  .footer__image {
    height: 269px;
    width: 87%;
  }
}